body {
    padding: 50px;
    background: linear-gradient(90deg, orange, goldenrod);
}

#task {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}

button, input[type="reset"] {
    margin: 50px auto;
    font-size: 50px;
    background: rgba(0, 0, 0, 0.4);
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 15px;
}

input[type="reset"]  {
    font-size: 20px;
    padding: 5px 10px;
}

button:hover, input[type="reset"]:hover { background: rgba(0, 0, 0, 0.2); }

button:disabled { 
    background: rgba(0, 0, 0, 0.6);
    cursor: initial;
}

#filters {
    text-align: center;
    font-size: 25px;
}

input {
    background: rgba(0, 0, 0, 0.4);
    color: white;
    border: none;
    font-size: 20px;
    padding: 10px 20px;
}

.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}

#members { margin: 0 10px; }

#activity {
    display: none;
    font-size: 30px;
    background: rgba(255, 255, 255, 0.2);
    padding: 10px 30px;
    border-radius: 20px;
}

#types {
    display: grid;
    grid-template-columns: repeat(2, 1fr 50px);
    width: 60%;
    margin: 50px auto;
}

.green { color: green; }
.gold { color: gold; }
.red { color: red; }